
<!DOCTYPE html>

<html>
<head>
    <title>Beyond the Wall</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Resources/style.css" type="text/css" />

</head>
<body style="background-image: url(/Resources/trumpwall.jpg);background-size:cover;">
    <div class="SplashPage">
        <h1 class="SplashPageText">
            <span style="font-size: 35px;">Beyond the Wall</span>
            <br />
            <span style="font-size: 20px;">Authentic Mexican Cuisine</span>
            <br />
            <a class="link" href="/Views/Index.aspx">Enter</a>
        </h1>
    </div>
</body>
</html>
